.header-inner {
  max-width: 1280px;
  height: 80px;
  background-color: #eee;
  margin: 0 auto;
}
.footer-inner {
  max-width: 1280px;
  height: 100px;
  background-color: #eee;
  margin: 0 auto;
}

.contents {
  background-color: #ddd;
  margin: 0 auto;
  max-width: 1280px;
  display: inline-block;
  width: calc(100% - 200px);
  height: 100%;
}

.contents-area {
  max-width: 1280px;
  background-color: #eee;
  height: 900px;
  margin: 0 auto;
}

.side-menu {
  display: inline-block;
  width: 200px;
  height: 100%;
  vertical-align: top;
  background-color: #ccc;
}
